/* To remove arrow in input */
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* Firfeox */
input [type=number]{
    -moz-appearance: textfield;
}